<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <field [error]="getFormError('currentPassword')">
      <label>Текущий пароль</label>
      <input type="text" placeholder="" formControlName="currentPassword" (input)="changeInput('currentPassword')" />
    </field>
  </div>

  <div>
    <field [error]="getFormError('newPassword')">
      <label>Новый пароль</label>
      <input type="password" placeholder="" formControlName="newPassword" (input)="changeInput('newPassword')" />
    </field>
  </div>

  <div>
    <field [error]="getFormError('repeatNewPassword')">
      <label>Повторите новый пароль</label>
      <input type="password" placeholder="" formControlName="repeatNewPassword" (input)="changeInput('repeatNewPassword')" />
    </field>
  </div>

    <button type="submit">Сохранить</button>

</form>
