@switch (step) {
  @case (2) {
    <app-auth-activation
      [email]="getEmail"
      [password]="getPassword"
    />
  }
  @default {
    <div class="header">
      <h1 class="header_title">Вход</h1>
      <a class="link header_link" routerLink="/registration">Регистрация</a>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="fields">
        <field class="field" [error]="errors['email']">
          <label>Электронная почта</label>
          <input type="text" formControlName="email" (input)="change('email')" />
        </field>

        <field class="field" [error]="errors['password']">
          <label>Пароль</label>
          <input type="password" formControlName="password" (input)="change('password')" />

          <a class="link recovery-link" routerLink="/recovery">забыли пароль?</a>
        </field>
      </div>

      <button appearance type="submit" [loading]="loading">Войти</button>
    </form>
  }
}



