<infinite-list
  [ready]="ready"
  [end]="currentPage === pageCount"
  (intersectionObserverDetect)="nextPosts()"
>
  @for (item of items; track item.id) {
    <post-preview [item]="item" mediaPath="{{ mediaUrl }}/"></post-preview>
  } @empty {
    <infinite-list-empty>
      <infinite-list-empty-text>{{ 'profile.posts.empty' | transloco }}</infinite-list-empty-text>
      <div class="add-post">
        {{ 'profile.posts.add' | transloco }}
        <a class="add-post_link" [routerLink]="['', { outlets: { popup: ['add-post'] } }]">{{ 'profile.posts.first' | transloco }}</a>
      </div>
    </infinite-list-empty>
  }
</infinite-list>
